{% assign main_product = section.settings.main_product %}

<div class="eviternity-main-container">
    <div class="eviternity-slider-wrapper">
        {% for block in section.blocks %}

        {% assign slideimage = block.settings.slide_image %}
        {% assign slideheading = block.settings.slide_heading %}
        {% assign slidetext = block.settings.slide_text %}

        <div class="outer-container">
            <div class="flex-container-ev">
                <div class="image-wrapper-ev">
                    <img src="{{ slideimage | img_url: 'master' }}" alt="Slider Image">
                </div>
                <div class="flex-content-ev">
                    <div class="slider-heading-ev">{{ slideheading }}</div>
                    <div class="slider-text-ev">{{ slidetext }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<style>
    .eviternity-slider-wrapper{
        max-width: 1100px;
        margin: auto;
        padding: 0 30px;
    }

    .eviternity-slider-wrapper img{
        display: block;
        width: 100%;
    }

    .flex-container-ev > div{
        flex-basis: 50%;
    }

    .slider-heading-ev{
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 1rem;
    }

    .eviternity-main-container .slick-dots li{
        margin: 0;
    }

    .eviternity-main-container{
        margin-bottom: 3rem;
    }

    @media screen and (min-width: 751px){
        .flex-container-ev {
            display: flex;
            align-items: center;
        }
        .flex-container-ev .flex-content-ev{
            padding-left: 60px;
        }

        .outer-container:nth-child(even) .flex-container-ev .flex-content-ev{
            padding-right: 60px;
        }

        .outer-container:nth-child(even) .flex-container-ev{
            flex-direction: row-reverse;
        }
    }

    @media screen and (max-width: 750px){
        .eviternity-slider-wrapper .slick-dots{
            margin-inline-start: 0;
            left: 0;
        }

        .eviternity-slider-wrapper{
            padding: 0;
        }

        .flex-content-ev{
            padding: 30px
        }

        .image-wrapper-ev{
            padding: 0 15px;
        }
    }
</style>

{% schema %}
    {
      "name": "Eviternity Carousel",
      "class": "eviternity-carousel",
      "max_blocks": 8,
      "settings": [
      ],
      "blocks": [
        {
          "type": "slide",
          "name": "Slide",
          "settings": [
            {
                "type": "image_picker",
                "id": "slide_image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "slide_heading",
                "label": "Heading"
            },
            {
                "type": "richtext",
                "id": "slide_text",
                "label": "Text"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Eviternity Carousel",
          "settings": {
          },
          "blocks": [
          ]
        }
      ]
    }
  {% endschema %}